.coctails-container {
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.coctails-main .categories-list {
  background-color: #FDFDFD;
  color: #1C0B19;
  font-weight: 900;
}
.coctails-main .categories-list h3 {
  font-size: 1.25rem;
  color: #1C0B19;
}
.coctails-main .categories-list ul {
  padding-left: 0px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 13px;
}
.coctails-main .categories-list ul li {
  margin: 0px 5px;
}
.coctails-main .categories-list ul li p {
  text-align: center;
  padding: 0px 5px;
  margin: 5px 0px;
  font-size: 0.8rem;
  color: #808080;
  font-weight: 600;
}
.coctails-main .categories-list ul li img {
  width: 60px;
  height: 60px;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 8px 10px 16px 0px rgba(201, 201, 201, 0.8705882353);
  -webkit-box-shadow: 8px 10px 16px 0px rgba(201, 201, 201, 0.8705882353);
  -moz-box-shadow: 8px 10px 16px 0px rgba(201, 201, 201, 0.8705882353);
}
.coctails-main .categories-list ul li:nth-child(1) > img {
  background-color: rgba(251, 54, 64, 0.2666666667);
}
.coctails-main .categories-list ul li:nth-child(2) > img {
  background-color: rgba(234, 198, 56, 0.3490196078);
}
.coctails-main .categories-list ul li:nth-child(3) > img {
  background-color: rgba(122, 195, 19, 0.3215686275);
}
.coctails-main .categories-list ul li:nth-child(4) > img {
  background-color: rgba(59, 112, 128, 0.2745098039);
}
.coctails-main .categories-list ul li:nth-child(5) > img {
  background-color: rgba(112, 105, 147, 0.3137254902);
}
.coctails-main .categories-list ul li:nth-child(6) > img {
  background-color: rgba(63, 44, 185, 0.2705882353);
}
.coctails-main .list-coctails h3 {
  font-size: 1.25rem;
  color: #1C0B19;
}
.coctails-main .list-coctails .grid-coctails {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  padding: 10px 10px;
}
.coctails-main .list-coctails .grid-coctails .grid-coctails__product {
  background-color: #FDFDFD;
  border-radius: 20px;
  padding: 20px 10px;
  max-width: 250px;
  box-shadow: 8px 10px 16px 0px rgba(201, 201, 201, 0.8705882353);
  -webkit-box-shadow: 8px 10px 16px 0px rgba(201, 201, 201, 0.8705882353);
  -moz-box-shadow: 8px 10px 16px 0px rgba(201, 201, 201, 0.8705882353);
}
.coctails-main .list-coctails .grid-coctails .grid-coctails__product div {
  position: relative;
}
.coctails-main .list-coctails .grid-coctails .grid-coctails__product div img {
  position: relative;
  width: 100%;
  border-radius: 15px;
}
.coctails-main .list-coctails .grid-coctails .grid-coctails__product div h4 {
  margin-bottom: 0px;
  color: #1C0B19;
}
.coctails-main .list-coctails .grid-coctails .grid-coctails__product div p {
  color: #808080;
  font-size: 0.8rem;
  margin-bottom: 30px;
}
.coctails-main .list-coctails .grid-coctails .grid-coctails__product div .add-favourite {
  float: right;
  margin-right: 10px;
  width: 30px;
  height: 30px;
}
.coctails-main .list-coctails .grid-coctails .grid-coctails__product div .add-favourite path {
  fill: rgb(255, 91, 31);
}

@media only screen and (min-width: 576px) {
  .coctails-main .list-coctails .grid-coctails {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 768px) {
  .coctails-main .list-coctails .grid-coctails {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 992px) {
  .coctails-container {
    flex-direction: row;
  }
  .coctails-main {
    width: 75%;
  }
}