.fav-button {
  background-color: rgb(100, 58, 131);
  width: 70px;
  height: 70px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  border-radius: 100px;
}
.fav-button img {
  width: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (min-width: 992px) {
  .fav-button {
    display: none;
  }
}