.favourite-notification {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: rgb(255, 91, 31);
  padding: 0px 20px;
  border-radius: 10px;
}
.favourite-notification p {
  color: #FDFDFD;
  display: inline-block;
  font-weight: 600;
  margin-right: 10px;
}
.favourite-notification.remove {
  background-color: rgb(108, 55, 146);
}
.favourite-notification svg path {
  fill: #FDFDFD;
}