.search-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  padding: 0px 15px;
}
.search-bar h2 {
  color: #1C0B19;
}

.search-bar__logo {
  padding-right: 5px;
}
.search-bar__logo path {
  fill: #1C0B19;
}

.search-bar__input {
  position: relative;
  width: 100%;
  max-width: 500px;
  height: 35px;
}
.search-bar__input .icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.search-bar__input .icon path {
  fill: #1C0B19;
}
.search-bar__input input[id=SearchDrink] {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 30px;
  border-width: 0px;
  padding-left: 20px;
  background-color: #EAEAEA;
  outline: 1px solid #EAEAEA;
  transition: outline 0.3s ease-out;
}
.search-bar__input input[id=SearchDrink]:focus {
  transition: outline 0.3s ease-out;
  outline: 1px solid #1C0B19;
}
.search-bar__input input[id=SearchDrink]:focus ~ .search-bar__suggestions {
  display: block;
}
.search-bar__input .search-bar__suggestions {
  display: none;
  margin-top: 5px;
  background-color: #EAEAEA;
  border-radius: 15px;
}
.search-bar__input .search-bar__suggestions ul {
  margin: 0px;
  list-style: none;
  padding: 0px;
}
.search-bar__input .search-bar__suggestions ul li {
  padding: 10px 10px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  border-bottom: 1px solid white;
}
.search-bar__input .search-bar__suggestions ul li img {
  border-radius: 10px;
  height: 50px;
  width: 50px;
  margin-right: 10px;
}
.search-bar__input .search-bar__suggestions ul li:last-child {
  border-bottom: 0px;
}

@media only screen and (min-width: 768px) {
  .search-bar {
    flex-direction: row;
    justify-content: space-between;
  }
}