@use "variables";

.coctails-favourite {
    h3 {
        @include variables.label-style;
    }
    ul {
        list-style: none;
        padding: 0px 10px;
        li {
            margin-bottom: 20px;
            padding: 0px 20px;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-between;
            @include variables.my-boxshadow;
            border-radius: 10px;
            h4 {
                font-weight: 100;
                color: variables.$GrayText;
            }
        }
        .remove-favourite {
            @include variables.add_remove_button(variables.$Removefav);
        }
    }
}

@media only screen and (min-width: 576px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {
    .coctails-favourite {
        width: 25%;
    }
}

@media only screen and (min-width: 1200px) {

}

@media only screen and (min-width: 1400px) {

}