@use "variables";

.coctails-container {
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.coctails-main {

    .categories-list {
        background-color: variables.$Cultured;
        color: variables.$Myblack;
        font-weight: 900;
        h3 {
            @include variables.label-style;
        }
        ul {
            padding-left: 0px;
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            li {
                margin: 0px 5px;
                p {
                    text-align: center;
                    padding: 0px 5px;
                    margin: 5px 0px;
                    font-size: 0.8rem;
                }
                img {
                    width: 80px;
                    height: 80px;
                    border-radius: 15px;
                }
            }
        }
    }

    .list-coctails {
        h3 {
            @include variables.label-style;
        }
        .grid-coctails {
            display: grid;
            gap: 1.5rem;
            grid-template-columns: repeat(1, 1fr);
            justify-items: center;
            .grid-coctails__product {
                background-color: variables.$Cultured;
                border-radius: 20px;
                padding: 20px 10px;
                max-width: 250px;         
                div {
                    position: relative;
                    img {
                        position: relative;
                        width: 100%;
                    }
                    h4 {
                        margin-bottom: 0px;
                    }
                    p {
                        color: gray;
                        font-size: 0.75rem;
                        margin-bottom: 30px;
                    }
                    .add-favourite {
                        float: right;
                        margin-right: 5px;
                        width: 35px;
                        height: 25px;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 576px) {
    .coctails-main {
        .list-coctails {
            .grid-coctails {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .coctails-main {
        .list-coctails {
            .grid-coctails {
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }
}

@media only screen and (min-width: 992px) {
    .coctails-container {
        flex-direction: row;
    }
    .coctails-main {
        width: 75%;
    }
}

@media only screen and (min-width: 1200px) {

}

@media only screen and (min-width: 1400px) {

}