@use "variables";

.fav-button {
    background-color: variables.$Favbutton;
    width: 70px;
    height: 70px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-radius: 100px;
    img {
        width: 40px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

@media only screen and (min-width: 576px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {
    .fav-button {
        display: none;
    }
}

@media only screen and (min-width: 1200px) {

}

@media only screen and (min-width: 1400px) {

}