@use "variables";

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf)
}

html,
body {
  height: 100%;
  min-height: 100%;
  margin: 0px;
  font-family: Montserrat;
}

.main__container {
  background-color: variables.$Cultured;
  margin: 10px;
  border-radius: 25px;
}


@media only screen and (min-width: 576px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {

}

@media only screen and (min-width: 1400px) {

}