@use "variables";

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf)
}


html,
body {
  height: 100%;
  min-height: 100%;
  margin: 0px;
  
}


.main__container {
  background-color: beige;
  margin: 10px;
  border-radius: 25px;
  

}

.search__bar {
  background-color: red;
}

.categories__list {
  background-color: green;
}

.list__coctails {
  background-color: aqua;

  div {
    background-color: yellow;
  }
}

.favourite__drinks {
  background-color: aquamarine;
}


@media only screen and (min-width: 576px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {

}

@media only screen and (min-width: 1400px) {

}