@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf)
}

$Bittersweet: #ff6666;
$Myblack: #1C0B19;
$Cultured: #FDFDFD;
$GrayShade: #EAEAEA;


@mixin label-style {
    font-size: 1.25rem;
    color: $Myblack;   
}

@mixin add_remove_button {
    width: 35px;
    height: 35px;
    path {
        fill: $Myblack;
    }
}