$Addfav: rgba(255, 68, 0, 0.774);
$Removefav: rgba(76, 0, 130, 0.623);
$Myblack: #1C0B19;
$Cultured: #FDFDFD;
$Grayshade: #EAEAEA;
$Grayboxshadow: #c9c9c9de;
$GrayText : #808080;

@mixin label-style {
    font-size: 1.25rem;
    color: $Myblack;   
}

@mixin add_remove_button($color) {
    width: 25px;
    height: 25px;
    path {
        fill: $color;
    }
}

@mixin my-boxshadow {
    box-shadow: 8px 10px 16px 0px $Grayboxshadow;
    -webkit-box-shadow: 8px 10px 16px 0px $Grayboxshadow;
    -moz-box-shadow: 8px 10px 16px 0px $Grayboxshadow;  
}