$Addfav: rgb(255, 91, 31);
$Removefav: rgb(108, 55, 146);
$Favbutton : rgb(100, 58, 131);
$Myblack: #1C0B19;
$Cultured: #FDFDFD;
$Grayshade: #EAEAEA;
$Grayboxshadow: #c9c9c9de;
$GrayText : #808080;

@mixin small-text {
    font-size: 0.8rem;
}

@mixin label-style {
    font-size: 1.25rem;
    color: $Myblack;   
}

@mixin add_remove_button($color) {
    width: 30px;
    height: 30px;
    path {
        fill: $color;
    }
}

@mixin my-boxshadow {
    box-shadow: 8px 10px 16px 0px $Grayboxshadow;
    -webkit-box-shadow: 8px 10px 16px 0px $Grayboxshadow;
    -moz-box-shadow: 8px 10px 16px 0px $Grayboxshadow;  
}

@mixin mobile_view_icons {
    width: 35px;
    height: 35px;
}